<!DOCTYPE html>
<html>

<head>
    <!-- head -->
    {{> head_component}}
    <title>Trung tâm tiếng hàn G-EDU</title>

</head>

<body>
    <!-- header -->
    {{> header_component}}

    <div class="homepage_content px-[15px] lg:px-[100px]">

        <section class="pt-[50px]">
            <img src="/images/homepage/image_slide.png">
        </section>

        <section class="pt-[50px] text-center">
            <p class="text-2xl text-[#B0B0C0]">G-EDU</p>
            <h3 class="text-3xl text-[#181B32] font-[600] mt-[15px]">
                {{ t 'test.pages.homepage.body.section-skill.title' }}
            </h3>

            <div class="grid md:flex gap-[50px] skills mt-[50px] justify-center">
                <div class="md:w-[350px]">
                    <div class="grid gap-[30px] justify-center justify-items-center">
                        <img class="mx-auto" src="/images/homepage/grammar_icon.jpg" alt="">
                        <p class="text-2xl text-[#181B32] font-[600]">
                            {{ t 'test.pages.homepage.body.section-skill.grammar.title' }}
                        </p>
                    </div>
                    <p class="mt-[15px]">
                        {{ t 'test.pages.homepage.body.section-skill.grammar.desc' }}
                    </p>
                </div>

                <div class="md:w-[350px]">
                    <div class="grid gap-[30px] justify-center">
                        <img class="mx-auto" src="/images/homepage/speaking_icon.jpg" alt="">
                        <p class="text-2xl text-[#181B32] font-[600]">
                            {{ t 'test.pages.homepage.body.section-skill.speaking.title' }}
                        </p>
                    </div>
                    <p class="mt-[15px]">
                      {{ t 'test.pages.homepage.body.section-skill.speaking.desc' }}
                    </p>
                </div>

                <div class="md:w-[350px]">
                    <div class="grid gap-[30px] justify-center justify-items-center">
                        <img class="mx-auto" src="/images/homepage/listening_icon.jpg" alt="">
                        <p class="text-2xl text-[#181B32] font-[600]">
                            {{ t 'test.pages.homepage.body.section-skill.listening.title' }}
                        </p>

                    </div>
                    <p class="mt-[15px]">
                        {{ t 'test.pages.homepage.body.section-skill.listening.desc' }}
                    </p>
                </div>

                <div class="md:w-[350px]">
                    <div class="grid gap-[30px] justify-center">
                        <img class="mx-auto" src="/images/homepage/writing_icon.jpg" alt="">
                        <p class="text-2xl text-[#181B32] font-[600]">
                            {{ t 'test.pages.homepage.body.section-skill.writing.title' }}
                        </p>
                    </div>
                    <p class="mt-[15px]">
                       {{ t 'test.pages.homepage.body.section-skill.writing.desc' }}
                    </p>
                </div>



            </div>

        </section>


        <!-- study itenerary -->
        <section class="pt-[50px] studying_itenerary">
            <h3 class="text-3xl font-semibold">
                {{ t 'test.pages.homepage.body.section-itinerary.title' }}
            </h3>

            <div class="hidden md:block">
                <img src="/images/homepage/studying_itenerary.jpg">
            </div>

            <ul class="md:hidden grid gap-[30px] mt-[30px]">
                <li class="border shadow-sm p-[15px] rounded-[20px]">
                    <img src="/images/homepage/baisc level.png">
                </li>

                <li class="border shadow-sm p-[15px] rounded-[20px]">
                    <img src="/images/homepage/immediate level.png">
                </li>

                <li class="border shadow-sm p-[15px] rounded-[20px]">
                    <img src="/images/homepage/advanced level.png">
                </li>
            </ul>
        </section>
        <!-- end study itenerary -->

        <!-- anh -->
        <section class="pt-[50px] studying_itenerary mb-10 md:mb-5">
            <h3 class="text-3xl font-semibold">
                 {{ t 'test.pages.homepage.body.section-img.title' }}
            </h3>

            <div class="image-container w-fit mx-auto mt-[30px] grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 gap-[1px] justify-center flex-wrap">
               
               {{#each galleryImages}}
                <div class="image max-w-[300px] max-h-[200px]">
                    <img class="w-full h-full"
                        src="{{web_url}}" />
                </div>
               {{/each}}
               

            </div>

        </section>

        <!-- faq -->
        <section class="pt-[50px] studying_itenerary mb-10 md:mb-20">
            <h3 class="text-3xl font-semibold">
                {{ t 'test.pages.homepage.body.section-faq.title' }}
            </h3>

            <div class="mt-[30px]">
                <ul class="flex flex-wrap justify-between gap-[30px] lg:gap-y-[40px] xl:gap-y-[50px] list_faq">
                    <li
                        class="faq_item border border-[#B0B0C0] w-full md:w-[48%] lg:w-[48.2%] xl:w-[48.6%] px-[20px] lg:px-[50px] py-[20px] rounded-[30px] duration-200 ease-in-out">
                        <div class=" flex flex-row items-center justify-between gap-[15px]">
                            <h3 class="font-semibold text-lg ">
                               {{ t 'test.pages.homepage.body.section-faq.questions.ques1.title' }}
                            </h3>

                            <div
                                class="show_ans bg-[#524FD5] flex items-center justify-center rounded-full p-[15px] cursor-pointer hover:bg-[#4644b5] hover:scale-[1.1] duration-200 ease-in-out">
                                <i class="fas fa-plus" style="color: white;"></i>
                            </div>

                            <div
                                class="hide_ans hidden flex items-center justify-center rounded-full p-[15px] cursor-pointer bg-white hover:scale-[1.1] duration-200 ease-in-out">
                                <i class="fas fa-minus text-[#524FD5]"></i>
                            </div>

                        </div>
                        <p class="faq_ans hidden max-w-[95%] mt-[10px]">
                            {{ t 'test.pages.homepage.body.section-faq.questions.ques1.ans' }}
                        </p>
                    </li>

                    <li
                        class="faq_item border border-[#B0B0C0] w-full md:w-[48%] lg:w-[48.2%] xl:w-[48.6%] px-[20px] lg:px-[50px] py-[20px] rounded-[30px] duration-200 ease-in-out">
                        <div class=" flex flex-row items-center justify-between gap-[15px]">
                            <h3 class="font-semibold text-lg ">
                              {{ t 'test.pages.homepage.body.section-faq.questions.ques2.title' }}
                            </h3>

                            <div
                                class="show_ans bg-[#524FD5] flex items-center justify-center rounded-full p-[15px] cursor-pointer hover:bg-[#4644b5] hover:scale-[1.1] duration-200 ease-in-out">
                                <i class="fas fa-plus" style="color: white;"></i>
                            </div>

                            <div
                                class="hide_ans hidden flex items-center justify-center rounded-full p-[15px] cursor-pointer bg-white hover:scale-[1.1] duration-200 ease-in-out">
                                <i class="fas fa-minus text-[#524FD5]"></i>
                            </div>

                        </div>
                        <p class="faq_ans hidden max-w-[95%] mt-[10px]">
                             {{ t 'test.pages.homepage.body.section-faq.questions.ques2.ans' }}
                        </p>
                    </li>

                    <li
                        class="faq_item border border-[#B0B0C0] w-full md:w-[48%] lg:w-[48.2%] xl:w-[48.6%] px-[20px] lg:px-[50px] py-[20px] rounded-[30px] duration-200 ease-in-out">
                        <div class=" flex flex-row items-center justify-between gap-[15px]">
                            <h3 class="font-semibold text-lg ">
                                {{ t 'test.pages.homepage.body.section-faq.questions.ques3.title' }}
                            </h3>

                            <div
                                class="show_ans bg-[#524FD5] flex items-center justify-center rounded-full p-[15px] cursor-pointer hover:bg-[#4644b5] hover:scale-[1.1] duration-200 ease-in-out">
                                <i class="fas fa-plus" style="color: white;"></i>
                            </div>

                            <div
                                class="hide_ans hidden flex items-center justify-center rounded-full p-[15px] cursor-pointer bg-white hover:scale-[1.1] duration-200 ease-in-out">
                                <i class="fas fa-minus text-[#524FD5]"></i>
                            </div>

                        </div>
                        <p class="faq_ans hidden max-w-[95%] mt-[10px]">
                            {{ t 'test.pages.homepage.body.section-faq.questions.ques3.ans' }}
                        </p>
                    </li>

                    <li
                        class="faq_item border border-[#B0B0C0] w-full md:w-[48%] lg:w-[48.2%] xl:w-[48.6%] px-[20px] lg:px-[50px] py-[20px] rounded-[30px] duration-200 ease-in-out">
                        <div class=" flex flex-row items-center justify-between gap-[15px]">
                            <h3 class="font-semibold text-lg ">
                                {{ t 'test.pages.homepage.body.section-faq.questions.ques4.title' }}
                            </h3>

                            <div
                                class="show_ans bg-[#524FD5] flex items-center justify-center rounded-full p-[15px] cursor-pointer hover:bg-[#4644b5] hover:scale-[1.1] duration-200 ease-in-out">
                                <i class="fas fa-plus" style="color: white;"></i>
                            </div>

                            <div
                                class="hide_ans hidden flex items-center justify-center rounded-full p-[15px] cursor-pointer bg-white hover:scale-[1.1] duration-200 ease-in-out">
                                <i class="fas fa-minus text-[#524FD5]"></i>
                            </div>

                        </div>
                        <p class="faq_ans hidden max-w-[95%] mt-[10px]">
                           {{ t 'test.pages.homepage.body.section-faq.questions.ques4.ans' }}
                        </p>
                    </li>

                    <li
                        class="faq_item border border-[#B0B0C0] w-full md:w-[48%] lg:w-[48.2%] xl:w-[48.6%] px-[20px] lg:px-[50px] py-[20px] rounded-[30px] duration-200 ease-in-out">
                        <div class=" flex flex-row items-center justify-between gap-[15px]">
                            <h3 class="font-semibold text-lg ">
                                {{ t 'test.pages.homepage.body.section-faq.questions.ques5.title' }}
                            </h3>

                            <div
                                class="show_ans bg-[#524FD5] flex items-center justify-center rounded-full p-[15px] cursor-pointer hover:bg-[#4644b5] hover:scale-[1.1] duration-200 ease-in-out">
                                <i class="fas fa-plus" style="color: white;"></i>
                            </div>

                            <div
                                class="hide_ans hidden flex items-center justify-center rounded-full p-[15px] cursor-pointer bg-white hover:scale-[1.1] duration-200 ease-in-out">
                                <i class="fas fa-minus text-[#524FD5]"></i>
                            </div>

                        </div>
                        <p class="faq_ans hidden max-w-[95%] mt-[10px]">
                            {{{ t 'test.pages.homepage.body.section-faq.questions.ques5.ans' }}}
                        </p>
                    </li>

                    <li
                        class="faq_item border border-[#B0B0C0] w-full md:w-[48%] lg:w-[48.2%] xl:w-[48.6%] px-[20px] lg:px-[50px] py-[20px] rounded-[30px] duration-200 ease-in-out">
                        <div class=" flex flex-row items-center justify-between gap-[15px]">
                            <h3 class="font-semibold text-lg ">
                                {{ t 'test.pages.homepage.body.section-faq.questions.ques6.title' }}
                            </h3>

                            <div
                                class="show_ans bg-[#524FD5] flex items-center justify-center rounded-full p-[15px] cursor-pointer hover:bg-[#4644b5] hover:scale-[1.1] duration-200 ease-in-out">
                                <i class="fas fa-plus" style="color: white;"></i>
                            </div>

                            <div
                                class="hide_ans hidden flex items-center justify-center rounded-full p-[15px] cursor-pointer bg-white hover:scale-[1.1] duration-200 ease-in-out">
                                <i class="fas fa-minus text-[#524FD5]"></i>
                            </div>

                        </div>
                        <p class="faq_ans hidden max-w-[95%] mt-[10px]">
                            {{{ t 'test.pages.homepage.body.section-faq.questions.ques6.ans' }}}
                        </p>
                    </li>

                </ul>

            </div>

        </section>

    </div>

    <!-- footer -->
    {{> footer_component}}
</body>

</html>