<header class=" pt-[20px] pb-[10px] md:pt-[30px] px-[15px] lg:px-[70px]" style="border-bottom: 1px solid #d3d3d3;">

    <div class="flex justify-between items-center">
        <div class="site_logo w-[120px] md:w-[150px]">
            <a href="/">
                <svg style="width: 100%;" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 970.98 313.08">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #6826a8;
                            }
                        </style>
                    </defs>
                    <polygon class="cls-1"
                        points="970.98 301.92 863.05 301.92 863.05 299.76 968.82 299.76 968.82 2.16 2.16 2.16 2.16 299.76 110.32 299.76 110.32 301.92 0 301.92 0 0 970.98 0 970.98 301.92" />
                    <path class="cls-1"
                        d="m338.89,101.92h4.51l2.28,41.04h-5.65c-2.92-12.18-6.98-21.01-12.19-26.49-5.21-5.49-10.94-8.23-17.2-8.23-4.87,0-9.24,1.54-13.11,4.62s-6.99,8.04-9.36,14.9c-1.1,3.24-1.94,7.21-2.51,11.91-.57,4.7-.86,9.85-.86,15.45,0,13.15.92,22.85,2.76,29.1,1.84,6.25,4.68,10.93,8.51,14.03,3.83,3.1,8.22,4.65,13.17,4.65,6.39,0,11.46-2.02,15.21-6.08,3.75-4.05,5.62-9.39,5.62-16.01v-9.37c0-1.67-.41-2.94-1.24-3.82s-2.02-1.32-3.59-1.32h-9.84v-6.32h45.46v6.32h-5.71c-2.08,0-3.56.46-4.44,1.39-.89.83-1.33,2.08-1.33,3.75v37.85h-4.95l-7.94-17.29c-3.56,5.97-7.69,10.36-12.41,13.16-4.72,2.8-10.27,4.2-16.66,4.2-8.47,0-16.22-2.22-23.27-6.67-7.05-4.44-12.45-10.53-16.22-18.26-3.77-7.73-5.65-17.01-5.65-27.85,0-15.97,4.49-29.07,13.46-39.31,8.97-10.23,19.96-15.35,32.95-15.35,4.83,0,9.12.78,12.89,2.33,3.77,1.55,7.77,4.27,12,8.16l5.33-10.49Z" />
                    <path class="cls-1" d="m417,173.75h-49.57v-11.21h49.57v11.21Z" />
                    <path class="cls-1"
                        d="m423.58,104.28h81.15l1.83,35.9h-5.55c-1.26-8.47-2.86-14.56-4.79-18.26-1.93-3.7-4.54-6.49-7.81-8.37-3.28-1.87-7.41-2.81-12.41-2.81h-12.73c-1.89,0-3.3.43-4.22,1.28-.92.86-1.39,2.05-1.39,3.58v35.62h4.35c5,0,8.86-1.57,11.59-4.72,1.39-1.62,2.74-2.79,3.69-5.45.95-2.66,1.23-2.18,1.23-5.37h5.67v41.17h-5.67c0-3.84-.42-4.94-1.26-7.74-.84-2.8-2-5.06-3.47-6.77-2.81-3.24-6.99-4.86-12.54-4.86h-3.59v37.99c0,1.67.44,2.85,1.32,3.54,1.47,1.02,3.4,1.53,5.8,1.53h11.21c7.6,0,13.86-2.71,18.78-8.12,4.92-5.42,7.96-13.59,9.14-24.51h5.67l-1.39,39.1h-84.62v-6.46h8.38c1.89,0,3.33-.53,4.32-1.6.99-1.06,1.48-2.5,1.48-4.3v-79.03c0-1.57-.49-2.78-1.48-3.61-.99-.83-2.76-1.25-5.32-1.25h-7.37v-6.46Z" />
                    <path class="cls-1"
                        d="m516.23,104.28h53c9.68,0,18.1,2.1,25.27,6.28,7.17,4.19,12.86,10.27,17.08,18.23,4.22,7.96,6.32,16.85,6.32,26.67s-1.87,19.1-5.62,26.6c-3.75,7.5-9.4,13.53-16.95,18.09-7.55,4.56-15.6,6.84-24.17,6.84h-54.93v-6.46h8.19c1.91,0,3.4-.56,4.46-1.67,1.07-1.11,1.6-2.71,1.6-4.79v-77.36c0-1.94-.53-3.45-1.6-4.51-1.06-.97-2.86-1.46-5.39-1.46h-7.26v-6.46Zm48.4,96.25c5.95,0,11.3-1.6,16.05-4.79,4.75-3.19,8.18-7.58,10.29-13.16,2.11-5.58,3.16-14.13,3.16-25.66,0-12.22-1.2-21.55-3.59-27.98-2.4-6.43-5.74-11.06-10.02-13.89-4.28-2.82-10.51-4.24-18.68-4.24-4.49,0-7.29.39-8.42,1.18-1.13.79-1.7,2.22-1.7,4.31v77.71c0,2.32.47,3.98,1.4,5,.93,1.02,2.37,1.53,4.33,1.53h7.19Z" />
                    <path class="cls-1"
                        d="m620.1,104.28h48.08v6.46h-9.76c-1.25,0-2.33.51-3.23,1.53-.78.97-1.16,2.48-1.16,4.51v56.81c0,8.01,1.98,14.16,5.94,18.44,3.96,4.28,9.44,6.42,16.42,6.42,5.04,0,9.69-1.18,13.96-3.54,2.93-1.67,5.4-4.57,7.43-8.72,2.02-4.14,3.04-9.2,3.04-15.17v-43.61c0-5.56-1.15-9.72-3.46-12.5-2.31-2.78-5.4-4.17-9.27-4.17h-1.42v-6.46h36.45v6.46h-2.52c-3.66,0-6.52,1.55-8.56,4.65-2.05,3.1-3.07,6.9-3.07,11.39v47.29c0,10.37-3.31,18.8-9.92,25.28-6.61,6.48-15.63,9.72-27.04,9.72-4.09,0-7.95-.36-11.57-1.08-3.62-.72-6.94-1.79-9.95-3.23-6.07-2.92-10.39-6.68-12.96-11.28-2.56-4.61-3.85-10.61-3.85-18.02v-57.71c0-2.64-.47-4.47-1.42-5.49-.95-1.02-2.65-1.53-5.11-1.53h-7.04v-6.46Z" />
                    <g>
                        <path class="cls-1"
                            d="m157.56,312.6h-2.96v-25.37h14.51v2.79h-11.54v8.19h10.23v2.79h-10.23v11.6Z" />
                        <path class="cls-1"
                            d="m199.42,302.1v10.5h-2.96v-25.37h6.3c1.06,0,1.97.04,2.71.12.74.08,1.43.21,2.04.39,1.69.48,2.99,1.3,3.89,2.45.9,1.16,1.34,2.6,1.34,4.33,0,1.02-.16,1.94-.47,2.75s-.76,1.51-1.33,2.1c-.57.59-1.25,1.08-2.04,1.46-.79.38-1.68.66-2.64.83v.08l7.2,10.85h-2.96l-7.49-10.5h-3.58Zm0-12.08v9.29h2.93c.91,0,1.69-.03,2.33-.09.64-.06,1.22-.18,1.73-.34,1.03-.33,1.82-.85,2.38-1.57.56-.72.84-1.66.84-2.83-.01-1.09-.28-1.96-.8-2.62-.52-.67-1.24-1.14-2.16-1.43-.44-.14-.96-.24-1.56-.3-.61-.06-1.38-.09-2.31-.09h-3.36Z" />
                        <path class="cls-1"
                            d="m263.31,299.94c0,1.92-.26,3.68-.79,5.29s-1.29,2.99-2.27,4.15-2.17,2.07-3.56,2.72c-1.39.65-2.94.98-4.66.98s-3.37-.33-4.78-.98c-1.41-.65-2.6-1.56-3.57-2.72s-1.72-2.55-2.24-4.15-.78-3.37-.78-5.29.27-3.71.8-5.32c.54-1.61,1.29-3,2.27-4.16s2.17-2.07,3.56-2.72c1.39-.65,2.96-.98,4.69-.98s3.35.33,4.75.98c1.4.65,2.59,1.56,3.56,2.72.97,1.16,1.72,2.55,2.24,4.16.52,1.61.78,3.38.78,5.32Zm-2.94,0c0-1.71-.21-3.21-.64-4.51s-1.02-2.39-1.77-3.26c-.75-.87-1.64-1.53-2.66-1.98-1.02-.45-2.12-.67-3.3-.67s-2.28.23-3.3.67-1.91,1.11-2.66,1.98-1.35,1.96-1.77,3.26-.64,2.81-.64,4.51.22,3.21.65,4.5,1.03,2.38,1.78,3.25c.75.87,1.64,1.53,2.66,1.97s2.13.66,3.32.66,2.27-.22,3.28-.66c1.01-.44,1.89-1.1,2.65-1.97.75-.87,1.35-1.95,1.77-3.25s.64-2.8.64-4.5Z" />
                        <path class="cls-1"
                            d="m304.73,312.6h-1.36l-6.13-15.15c-.85-2.09-1.7-4.35-2.54-6.81h-.15c.17,3.53.25,6.76.25,9.69v12.27h-2.96v-25.37h4.27l5.73,14.35c.65,1.64,1.37,3.62,2.16,5.93h.09c.87-2.57,1.59-4.54,2.16-5.93l5.73-14.35h4.27v25.37h-2.96v-12.27c0-2.87.09-6.1.25-9.69h-.15c-.9,2.59-1.75,4.86-2.54,6.81l-6.13,15.15Z" />
                        <path class="cls-1"
                            d="m387.28,291.43c-.19,1.16-.65,3.2-1.36,6.11l-3.77,15.07h-3.01l-7.45-25.37h2.96l4.18,14.88c.67,2.39,1.23,4.54,1.7,6.45h.07c.24-1.18.5-2.32.79-3.43s.53-2.1.75-2.98l3.69-14.92h2.96l3.67,14.92c.9,3.59,1.41,5.73,1.53,6.41h.07c.42-1.77.99-3.92,1.7-6.45l4.18-14.88h2.96l-7.46,25.37h-3l-3.76-15.07c-.69-2.81-1.14-4.84-1.35-6.11h-.07Z" />
                        <path class="cls-1"
                            d="m432.93,309.82h12.47v2.79h-15.43v-25.37h14.76v2.79h-11.8v8.19h10.49v2.79h-10.49v8.82Z" />
                        <path class="cls-1" d="m476.54,287.24v22.58h11.87v2.79h-14.83v-25.37h2.96Z" />
                        <path class="cls-1" d="m519,287.24v22.58h11.87v2.79h-14.83v-25.37h2.96Z" />
                        <path class="cls-1" d="m595.22,312.6h-2.96v-22.58h-8.13v-2.79h19.21v2.79h-8.13v22.58Z" />
                        <path class="cls-1"
                            d="m651.07,299.94c0,1.92-.26,3.68-.79,5.29-.53,1.61-1.29,2.99-2.27,4.15s-2.17,2.07-3.56,2.72c-1.39.65-2.94.98-4.66.98s-3.37-.33-4.78-.98c-1.41-.65-2.6-1.56-3.57-2.72s-1.72-2.55-2.24-4.15c-.52-1.61-.78-3.37-.78-5.29s.27-3.71.8-5.32c.54-1.61,1.29-3,2.27-4.16s2.17-2.07,3.56-2.72c1.39-.65,2.96-.98,4.69-.98s3.35.33,4.75.98c1.4.65,2.59,1.56,3.56,2.72.97,1.16,1.72,2.55,2.24,4.16.52,1.61.78,3.38.78,5.32Zm-2.95,0c0-1.71-.21-3.21-.64-4.51s-1.02-2.39-1.77-3.26c-.75-.87-1.64-1.53-2.66-1.98-1.02-.45-2.12-.67-3.3-.67s-2.28.23-3.3.67c-1.02.45-1.91,1.11-2.66,1.98-.75.87-1.34,1.96-1.77,3.26-.43,1.3-.64,2.81-.64,4.51s.22,3.21.65,4.5c.44,1.3,1.03,2.38,1.78,3.25.75.87,1.64,1.53,2.66,1.97s2.13.66,3.32.66,2.27-.22,3.28-.66,1.89-1.1,2.65-1.97c.75-.87,1.34-1.95,1.77-3.25s.64-2.8.64-4.5Z" />
                        <path class="cls-1"
                            d="m711.6,293.95c0,.75.14,1.36.43,1.85s.68.89,1.17,1.2c.49.32,1.06.58,1.7.78s1.32.39,2.02.57c.94.24,1.87.51,2.78.8s1.73.69,2.44,1.21c.71.51,1.29,1.18,1.73,2,.44.82.66,1.88.66,3.17s-.24,2.45-.72,3.4c-.48.95-1.14,1.74-1.98,2.35s-1.84,1.07-2.99,1.37c-1.15.29-2.41.44-3.78.44-.63,0-1.28-.04-1.94-.12-.66-.08-1.29-.19-1.89-.33-.6-.14-1.14-.3-1.63-.47s-.87-.35-1.14-.53v-2.83c.44.23.93.44,1.47.63.55.19,1.11.35,1.69.48.58.13,1.17.24,1.76.31s1.15.11,1.67.11c.85,0,1.66-.08,2.43-.23.77-.15,1.45-.4,2.03-.76s1.04-.84,1.38-1.45.51-1.38.51-2.3c0-.76-.15-1.38-.44-1.88s-.69-.9-1.19-1.22c-.5-.32-1.07-.58-1.72-.79-.65-.2-1.33-.39-2.04-.57-.95-.23-1.87-.48-2.77-.77-.9-.28-1.71-.68-2.42-1.18s-1.28-1.16-1.71-1.95-.64-1.81-.64-3.05.23-2.4.68-3.33c.45-.93,1.06-1.7,1.84-2.3.77-.61,1.66-1.06,2.67-1.35,1-.29,2.08-.44,3.22-.44,1.3,0,2.5.13,3.63.39,1.12.26,2.15.6,3.08,1.01v2.86c-1-.44-2.05-.8-3.12-1.08s-2.22-.42-3.44-.44c-.92,0-1.72.11-2.4.31-.68.21-1.24.51-1.69.89-.45.39-.78.85-1,1.4-.22.55-.33,1.16-.33,1.83Z" />
                        <path class="cls-1"
                            d="m755.82,309.82h12.47v2.79h-15.43v-25.37h14.76v2.79h-11.8v8.19h10.49v2.79h-10.49v8.82Z" />
                        <path class="cls-1"
                            d="m794.01,312.6l9.91-25.37h2.56l9.91,25.37h-3.22l-2.91-7.64h-10.17l-2.91,7.64h-3.18Zm11.16-21.42c-1.08,3.16-2.12,6.03-3.11,8.61l-.91,2.39h8.06l-.92-2.39c-1-2.63-2.01-5.5-3.05-8.61h-.07Z" />
                    </g>
                </svg>
            </a>
        </div>

        <div id="header_menu_background" class="fixed hidden md:hidden top-0 left-0 w-full h-full bg-[#b0b0c021]">
        </div>

        <div
            class="header_menu hidden md:block text-[14px] bg-white w-[80%] 2sm:w-[80%] md:w-[90%] lg:w-[75%] h-full lg:h-fit border md:border-[0] z-[999] absolute top-0 right-0 md:relative md:block">
            <button id="close_header_menu"
                class="hover:text-violet-500 duration-150 ease-in-out text-xl absolute top-[10px] left-[30px] md:hidden">
                <i class="fas fa-chevron-right"></i>
            </button>
            <!-- begin header menu -->
            <ul
                class="grid md:flex gap-[10px] lg:gap-[20px] font-[700] px-[30px] py-[50px] md:p-0 md:justify-center items-center text-[#666680]">

                {{!-- about --}}
                <li class="relative cursor-pointer">
                    <a href="/ve-chung-toi" class=" flex space-x-1 items-center hover:text-[#130D4B]">
                        <span>
                            {{ t 'test.pages.homepage.header.menu.about' }}
                        </span>
                    </a>

                </li>


                <li class="menu_item relative cursor-pointer">
                    <a class="flex space-x-1 items-center hover:text-[#130D4B]">
                        <span>
                            {{ t 'test.pages.homepage.header.menu.study' }}
                        </span>
                        <span class="pt-1">
                            <i class="fas fa-chevron-down"></i>
                        </span>
                    </a>

                    <ul
                        class="sub_menu hidden relative shadow md:absolute top-[10px] mb-[15px] md:mb-0 md:top-[40px] left-0 border border-[#f1e9ff] px-[10px] pt-[15px] pb-[25px] bg-white min-w-[200px] rounded divide-y grid gap-[5px]">
                        <li class="sub_menu_item"><a href="/hoc-tieng-han" class=" hover:text-[#130D4B] block mt-[5px]">
                                {{ t 'test.pages.homepage.header.menu-item.item1.1' }}
                            </a></li>
                        <li class="sub_menu_item"><a href="/chuyen-nganh-hoc"
                                class=" hover:text-[#130D4B] block mt-[5px]">
                                {{ t 'test.pages.homepage.header.menu-item.item1.2' }}
                            </a></li>

                        <li class="sub_menu_item"><a href="/thong-tin-hoc-bong"
                                class=" hover:text-[#130D4B] block mt-[5px]">
                                {{ t 'test.pages.homepage.header.menu-item.item1.3' }}
                            </a></li>
                    </ul>
                </li>

                {{!-- live in korean --}}
                <li class="hidden menu_item relative cursor-pointer">
                    <a class="flex space-x-1 items-center hover:text-[#130D4B]">
                        <span>
                            {{ t 'test.pages.homepage.header.menu.living' }}
                        </span>
                        <span class="pt-1">
                            <i class="fas fa-chevron-down"></i>
                        </span>
                    </a>

                    <ul
                        class="sub_menu hidden relative shadow md:absolute top-[10px] mb-[15px] md:mb-0 md:top-[40px] left-0 border border-[#f1e9ff] px-[10px] pt-[15px] pb-[25px] bg-white min-w-[200px] rounded divide-y grid gap-[5px]">
                        <li class="sub_menu_item"><a href="/hieu-ve-han-quoc"
                                class=" hover:text-[#130D4B] block mt-[5px]">
                                {{ t 'test.pages.homepage.header.menu-item.item2.1' }}
                            </a></li>

                        <li class="sub_menu_item"><a href="/cong-dong" class=" hover:text-[#130D4B] block mt-[5px]">
                                {{ t 'test.pages.homepage.header.menu-item.item2.2' }}
                            </a></li>
                    </ul>
                </li>

                {{!-- course --}}
                <li class="menu_item relative cursor-pointer">
                    <a class="flex space-x-1 items-center hover:text-[#130D4B]">
                        <span>
                            {{ t 'test.pages.homepage.header.menu.course' }}
                        </span>
                        <span class="pt-1">
                            <i class="fas fa-chevron-down"></i>
                        </span>
                    </a>

                    <ul
                        class="sub_menu hidden relative shadow md:absolute top-[10px] mb-[15px] md:mb-0 md:top-[40px] left-0 border border-[#f1e9ff] px-[10px] pt-[15px] pb-[25px] bg-white min-w-[200px] rounded divide-y grid gap-[5px]">
                        <li class="sub_menu_item"><a href="/khoa-hoc/khoa-hoc-tieng/1"
                                class=" hover:text-[#130D4B] block mt-[5px]">
                                {{ t 'test.pages.homepage.header.menu-item.item3.1' }}
                            </a></li>

                        <li class="sub_menu_item"><a href="/khoa-hoc/khoa-hoc-topik/4"
                                class=" hover:text-[#130D4B] block mt-[5px]">
                                {{ t 'test.pages.homepage.header.menu-item.item3.2' }}
                            </a></li>

                        <li class="sub_menu_item"><a href="/khoa-hoc/khoa-hoc-dac-biet/5"
                                class=" hover:text-[#130D4B] block mt-[5px]">
                                {{ t 'test.pages.homepage.header.menu-item.item3.3' }}
                            </a></li>
                    </ul>
                </li>

                {{!-- activity --}}
                <li class="menu_item relative cursor-pointer">
                    <a class="flex space-x-1 items-center hover:text-[#130D4B]">
                        <span>
                            {{ t 'test.pages.homepage.header.menu.activity' }}
                        </span>
                        <span class="pt-1">
                            <i class="fas fa-chevron-down"></i>
                        </span>
                    </a>
                    <ul
                        class="sub_menu hidden relative shadow md:absolute top-[10px] mb-[15px] md:mb-0 md:top-[40px] left-0 border border-[#f1e9ff] px-[10px] pt-[15px] pb-[25px] bg-white min-w-[200px] rounded divide-y grid gap-[5px]">
                        <li class="sub_menu_item"><a href="/su-kien" class=" hover:text-[#130D4B] block mt-[5px]">
                                {{ t 'test.pages.homepage.header.menu-item.item4.1' }}
                            </a>
                        </li>

                        <li class="sub_menu_item"><a href="/co-van-hoc-tap"
                                class=" hover:text-[#130D4B] block mt-[5px]">
                                {{ t 'test.pages.homepage.header.menu-item.item4.2' }}
                            </a></li>

                        <li class="sub_menu_item"><a href="/workshop" class=" hover:text-[#130D4B] block mt-[5px]">
                                {{ t 'test.pages.homepage.header.menu-item.item4.3' }}
                            </a></li>

                        <li class="sub_menu_item"><a href="/clb" class=" hover:text-[#130D4B] block mt-[5px]">
                                {{ t 'test.pages.homepage.header.menu-item.item4.4' }}
                            </a></li>
                        <li class="sub_menu_item"><a href="/thu-vien-nho" class=" hover:text-[#130D4B] block mt-[5px]">
                                {{ t 'test.pages.homepage.header.menu-item.item4.5' }}
                            </a></li>
                    </ul>
                </li>

                <li class="relative cursor-pointer">
                    <a href="/danh-sach-chuyen-muc" class="flex space-x-1 items-center hover:text-[#130D4B]">
                        <span>
                            Blogs
                        </span>
                    </a>

                </li>

                <li><a href="/lien-he" class=" hover:text-[#130D4B]">
                        {{ t 'test.pages.homepage.header.menu.contact' }}
                    </a></li>

                <li>
                    <select id="webLang" class="text-[12px] border p-1 rounded">
                        <option value="vi">
                            {{ t 'test.pages.homepage.header.menu.vi' }}
                        </option>
                        <option value="ko">
                            {{ t 'test.pages.homepage.header.menu.ko' }}
                        </option>
                        <option value="en">
                            {{ t 'test.pages.homepage.header.menu.en' }}
                        </option>
                    </select>
                </li>


            </ul>

            <style>
                .sub_menu::before {
                    content: "";
                    position: absolute;
                    top: -20px;
                    left: 20%;
                    transform: translateX(-50%);
                    border: 10px solid transparent;
                    border-bottom-color: #524FD5;
                }
            </style>

        </div>



        <button id="open_header_menu" class="hover:text-violet-500 duration-150 ease-in-out text-xl md:hidden">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</header>