<!DOCTYPE html>
<html lang="en">

<head>
    {{> head_component}}
    <title>
        {{title}}
    </title>
    <link rel="stylesheet" href="/public/css/taildwin-out.css" />
</head>

<body>

    {{> header_component}}

    <div class="main_content px-[15px] pb-[35px] lg:px-[100px] max-w-[1200px] mx-auto bg-white">
        <!--Second breadcrumb-->
        <nav class="w-full rounded-md my-[20px] text-[14px]">
            <ol class="list-reset flex">
                <li>
                    <a href="/"
                        class="text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600">Trang
                        chủ</a>
                </li>
                <li>
                    <span class="mx-2 text-neutral-500 dark:text-neutral-400">/</span>
                </li>
                <li class="text-neutral-500 dark:text-neutral-400"> {{title}}</li>
            </ol>
        </nav>


        <section>
            <div class="flex justify-between items-center">
                <h3 class="text-2xl font-semibold">Tin Mới Nhất</h3>

                <div class="relative h-[60px]">
                    <input id="searchQ" class="rounded-[30px] outline-none bg-[#F1F5F8] py-3 px-5 w-[340px]"
                        placeholder="Tìm kiếm...">
                    <svg class="absolute top-[10px] cursor-pointer hover:scale-[1.05] duration-200 easy-in-out" style="right: 15px;" width="27" height="29" viewBox="0 0 27 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M26.6561 26.1477L22.018 21.4249L21.9093 21.2528C21.7072 21.0432 21.4308 20.9251 21.1423 20.9251C20.8539 20.9251 20.5775 21.0432 20.3754 21.2528C16.4337 25.019 10.3601 25.2237 6.18248 21.7311C2.00487 18.2386 1.01962 12.1325 3.88015 7.46249C6.74068 2.79245 12.5593 1.00756 17.4772 3.29156C22.3951 5.57555 24.8861 11.2197 23.2983 16.4808C23.184 16.8609 23.2774 17.2742 23.5435 17.5651C23.8096 17.856 24.2078 17.9802 24.5883 17.891C24.9687 17.8018 25.2735 17.5127 25.3878 17.1327C27.286 10.8892 24.4192 4.17045 18.642 1.32264C12.8648 -1.52517 5.91104 0.352663 2.27903 5.74136C-1.35298 11.1301 -0.573209 18.4125 4.11391 22.8775C8.80103 27.3426 15.9889 27.6504 21.0276 23.6018L25.1342 27.7834C25.5583 28.2134 26.244 28.2134 26.6681 27.7834C27.0918 27.3473 27.0918 26.6453 26.6681 26.2092L26.6561 26.1477Z"
                            fill="#3002AF" />
                    </svg>
                </div>

            </div>


            <div class="latest_post_list px-[5px] md:flex gap-[26px] mt-4 h-[450px]">
                <div class="latest_post_list_left md:w-1/2">
                    <div class="">
                        <a href="/bai-viet/{{firstPost.slug}}/{{firstPost.id}}">
                            <img class="w-full h-[200px] md:h-[300px] hover:scale-[1.05] duration-200 ease-in-out"
                                src="{{ firstPost.thumbnail}}" alt="">
                        </a>

                        <div class="post_info grid gap-3 mt-3">
                            <div class="post_meta text-[14px] text-[#6941C6]">
                                <span class="post_meta_item">
                                    {{ firstPost.category.name }}
                                </span>
                                -
                                <span class="post_meta_item">
                                    {{vnDateFormat firstPost.createdAt }}
                                </span>
                            </div>

                            <div class="post_content">
                                <a href="/bai-viet/{{firstPost.slug}}/{{firstPost.id}}"
                                    class="hover:underline flex justify-between items-center duration-200 ease-in-out">
                                    <h2 class="post_title text-[20px] font-[700] text-[#101828]">
                                        {{ firstPost.title }}
                                    </h2>

                                    <svg width="25" height="25" viewBox="0 0 33 39" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10.0508 28.8506L23.3557 15.5456M23.3557 15.5456H10.0508M23.3557 15.5456V28.8506"
                                            stroke="#101828" stroke-width="2.66099" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>


                                </a>

                                <a href="/bai-viet/{{firstPost.slug}}/{{firstPost.id}}"
                                    class="hover:underline duration-200 ease-in-out">
                                    <p class="post_excerpt text-[16px] text-[#667085]">
                                        {{ firstPost.excerpt }}
                                    </p>
                                </a>

                            </div>

                            <ul class="post_tags flex gap-2">
                                {{#each firstPost.tags}}
                                <li
                                    class="bg-[#EEF4FF] rounded-[15px] text-[11px] px-2 py-1 hover:scale-[1.05] duration-150 ease-in-out cursor-pointer">
                                    {{name}}
                                </li>
                                {{/each}}

                            </ul>

                        </div>
                    </div>

                </div>

                <div class="latest_post_list_right md:w-1/2 h-full grid gap-[26px]">

                    {{#each latestPosts}}
                    <div class="md:flex gap-[10px] md:h-[150px]">
                        <a class="block md:w-[40%] md:h-full" href="/bai-viet/{{slug}}/{{id}}">
                            <img class="w-full h-[300px] md:h-full hover:scale-[1.05] duration-200 ease-in-out border rounded"
                                src="{{ thumbnail }}" alt="">
                        </a>

                        <div class="post_info md:w-[60%] flex flex-col">
                            <div class="post_meta text-[14px] text-[#6941C6]">
                                <span class="post_meta_item"> {{ category.name }} </span>
                                -
                                <span class="post_meta_item"> {{vnDateFormat createdAt }} </span>
                            </div>

                            <div class="post_content mt-[5px]">
                                <a href="/bai-viet/{{slug}}/{{id}}"
                                    class="hover:underline flex justify-between items-center duration-200 ease-in-out">
                                    <h2 class="post_title text-[20px] font-[700] text-[#101828]">
                                        {{ title }}
                                    </h2>

                                    <svg width="25" height="25" viewBox="0 0 33 39" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10.0508 28.8506L23.3557 15.5456M23.3557 15.5456H10.0508M23.3557 15.5456V28.8506"
                                            stroke="#101828" stroke-width="2.66099" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>


                                </a>

                                <a href="/bai-viet/{{slug}}/{{id}}" class="hover:underline duration-200 ease-in-out">

                                    <p class="post_excerpt text-[15px] text-[#667085]">
                                        {{ excerpt }}
                                    </p>
                                </a>

                            </div>

                            <ul class="post_tags flex gap-2 w-full h-fit">
                                {{#each tags}}
                                <li
                                    class="bg-[#EEF4FF] rounded-[15px] text-[11px] px-2 py-1 hover:scale-[1.05] duration-150 ease-in-out cursor-pointer">
                                    {{name}}
                                </li>
                                {{/each}}
                            </ul>

                        </div>

                    </div>
                    {{/each}}
                </div>

            </div>

        </section>

        <section class="mt-10">
            <h3 class="text-2xl font-semibold">
                Bảng Tin
            </h3>


            <div class="flex flex-wrap gap-[15px] md:gap-[26px] mt-4">

                {{#each recentPostPage.content }}
                <div class="w-[48%] sm:w-[31%]">
                    <a href="/bai-viet/{{slug}}/{{id}}">
                        <img class="w-full h-[250px] hover:scale-[1.05] duration-200 ease-in-out border rounded"
                            src="{{ thumbnail }}" alt="">
                    </a>

                    <div class="post_info grid gap-3 mt-3">
                        <div class="post_meta text-[14px] text-[#6941C6]">
                            <span class="post_meta_item">
                                {{ category.name }}
                            </span>
                            -
                            <span class="post_meta_item">
                                {{vnDateFormat createdAt }}
                            </span>
                        </div>

                        <div class="post_content">
                            <a href="/bai-viet/{{slug}}/{{id}}"
                                class="hover:underline flex justify-between items-center duration-200 ease-in-out">
                                <h2 class="post_title text-[20px] font-[700] text-[#101828]">
                                    {{ title }}
                                </h2>

                                <svg width="25" height="25" viewBox="0 0 33 39" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10.0508 28.8506L23.3557 15.5456M23.3557 15.5456H10.0508M23.3557 15.5456V28.8506"
                                        stroke="#101828" stroke-width="2.66099" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>


                            </a>

                            <a href="/bai-viet/{{slug}}/{{id}}" class="hover:underline duration-200 ease-in-out">

                                <p class="post_excerpt text-[15px] text-[#667085]">
                                    {{ excerpt }}
                                </p>
                            </a>

                        </div>

                        <ul class="post_tags flex gap-2">
                            {{#each tags}}
                            <li
                                class="bg-[#EEF4FF] rounded-[15px] text-[11px] px-2 py-1 hover:scale-[1.05] duration-150 ease-in-out cursor-pointer">
                                {{name}}
                            </li>
                            {{/each}}
                        </ul>

                    </div>
                </div>
                {{/each}}





            </div>

            <hr class="block mt-5">

            <div class="pagination mt-3">
                <nav class="flex justify-between">


                    <div>
                        {{#ifNot recentPostPage.isFirst}}
                        <a class="relative flex gap-[5px] items-center rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
                            href="#">
                            <svg width="19" height="15" viewBox="0 0 19 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M17.082 9.0703H1.55957M1.55957 9.0703L9.32079 16.8315M1.55957 9.0703L9.32079 1.30908"
                                    stroke="#667085" stroke-width="2.22193" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                            <span>
                                Previous
                            </span>
                        </a>
                        {{/ifNot}}
                    </div>

                    <ul class="list-style-none flex">

                        {{#each pageList }}



                        {{#ifEquals ../recentPostPage.number @index}}
                        <li>
                            <a
                                class="cursor-[unset] relative block rounded bg-[#F9F5FF] text-[#7F56D9] px-3 py-1.5 text-sm transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white">
                                {{inc @index}}
                            </a>
                        </li>
                        {{/ifEquals}}

                        {{#ifNotEquals ../recentPostPage.number @index}}
                        <li>
                            <a class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
                                href="#">
                                {{inc @index}}
                            </a>
                        </li>
                        {{/ifNotEquals}}


                        {{/each}}





                    </ul>

                    <div>

                        {{#ifNot recentPostPage.isLast}}
                        <a class="relative flex items-center gap-[5px] rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
                            href="#"><span>Next</span>

                            <svg width="19" height="15" viewBox="0 0 19 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.83081 9.0703H17.3533M17.3533 9.0703L9.59203 1.30908M17.3533 9.0703L9.59203 16.8315"
                                    stroke="#667085" stroke-width="2.22193" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </a>

                        {{/ifNot}}
                    </div>


                </nav>
            </div>
        </section>


    </div>

    {{> footer_component}}
</body>

</html>